#!/usr/sbin/nft -f

flush ruleset

table inet filter {
    chain input {
        type filter hook input priority 0; policy drop;

        # established/related connections
        ct state established,related accept

        # invalid connections
        ct state invalid drop

        # loopback interface
        iif lo accept

        # ICMP
        # routers may also want: mld-listener-query, nd-router-solicit
        ip6 nexthdr icmpv6 accept
        ip protocol icmp accept

        # SSH (port 22)
        tcp dport ssh accept

        # accept_ports
{% if accept_tcp_ports is defined and accept_tcp_ports | length > 0 %}
        tcp dport { {{ accept_tcp_ports | join(', ') }} } accept
{% endif %}
{% if accept_udp_ports is defined and accept_udp_ports | length > 0 %}
        udp dport { {{ accept_udp_ports | join(', ') }} } accept
{% endif %}

    }

    chain forward {
        type filter hook forward priority 0; policy drop;
    }

    chain output {
        type filter hook output priority 0; policy accept;
    }
}
