- name: S270
  types:
    - GR
  dvbDevicePath: /dev/dvb/adapter0/dvr0
  decoder: arib-b25-stream-test
  command: dvbv5-zap -a 0 -C JP -c /usr/local/dvbconf/conf/dvbv5_channels_isdbt.conf -r -P <channel>
  isDisabled: {{ check_s270.stdout == "" }}

- name: US-3POUT
  types:
    - GR
    - BS
    - CS
  command: recfsusb2n <channel> - -
  decoder: arib-b25-stream-test
  isDisabled: {{ check_us3pout.stdout == "" }}
